body {
    background-color: rgb(14, 110, 117);
}

#title {
    text-align: center;
    margin: 80px auto 20px auto;
    color: azure;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 48px;
    
}

#description {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: azure;
    margin: -10px auto 15px auto;
}

#survey-form {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 30px 15px 25px 15px;
    width: 50%;
    max-width: 550px;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px -0px;
    color: cornsilk;
}

fieldset {
    border-radius: 15px;
    margin: 10px auto 5px auto;
    padding: 15px;
}



#name-label {
    display: block;
    align-items: center;
}

#name {
    display: block;
    align-items: center;
}

#code {
    display: block;
    align-items: center;
}

#email-label {
    display: block;
    align-items: center;
}

#email {
    display: block;
}

#number-label {
    display: block;
}

#number {
    display: block;
}

#dropdown {}

#huey {}

#dewey {}

#louie {}

#dog-names {}

#scales {}

#horns {}

#story {}

#submit {}