body {
    background-color: rgb(14, 110, 117);
}

#title {
    text-align: center;
    margin: 80px auto 20px auto;
    color: azure;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 48px;
    
}

#description {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: azure;
    margin: -10px auto 15px auto;
}

#survey-form {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 30px 15px 25px 15px;
    width: 50%;
    max-width: 550px;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px -0px;
    color: cornsilk;
}

fieldset {
    border-radius: 15px;
    margin: 10px auto 5px auto;
    padding: 15px;
}

input {
    background-color: rgb(21, 82, 62);
    border-radius: 5px;
    display: block;
    border: 0;
}

input[type=text], input[type=email], input[type=number] {
        height: 20px;
        width: 75%;
        max-width: 300px;
        position: relative;
        margin: 5px auto 15px 0;
}

label {
    position: relative;

}

#firstFieldset {
    margin: 0 auto 0 20%;
}

::placeholder {
    padding-left: 3px;
}

#name {
    display: block;
    align-items: center;

}

#code {
    display: block;
    align-items: center;
}

#email {
    display: block;
}

#number {
    display: block;
}

#mission-type-ddn {
    display: block;
    margin: 0 0 5px 0;
}

#agent-type {
    display: block;
    height: 20px;
    width: 75%;
    max-width: 300px;
    position: relative;
    margin: 5px auto 15px 0;
    background: transparent;
    
}

#dropdown {
    width: 75%;
    background-color: rgb(21, 82, 62);
    border-radius: 5px;
    display: block;
    border: 0;
    height: 20px;
    border-color: transparent;
    border-width: 0px;
}

select {
    border: none;
    border-width: 0px;
    border-color: transparent;
    height: 20px;
    color: aliceblue;
}

input[type=radio] {
    display: inline;
}

#huey {}

#dewey {}

#louie {}

#dog-names {}

#scales {}

#horns {}

#story {}

#submit {}